<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% include 'adminHeader.html' %}
    <style>
        .error {
            color: red;
        }
        input{
            opacity: 0.7;
        }
        label{
            color: white;
            font-weight: bolder;
        }
    </style>
</head>
<body>
{% if message %}
    <script>
        alert('{{ message }}');
    </script>
{% endif %}
{#{% include 'adminNavbar.html' %}#}
{% include 'adminNavbardashboard.html' %}
<div class="container row mx-auto p-5 text-light" style="margin-top: 4%;box-shadow: white 6px 1px 32px;background: linear-gradient(transparent,black);border-top: red solid 2px">
    <div class="col-sm-6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Pandora_Logo_RGB_thumbnail_new_large.png"
             alt="" class="img-fluid">
    </div>
    <div class="col-sm-6">
        <div class="h1 text-center font-weight-bold">Admin Registration</div>
        <br>
        <hr class="bg-danger">
        <form action="adminRegisteration" method="post" id="adminRegisteration">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" autofocus data-rule-required="true">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="passw">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cpassword">Confirm Password</label>
                        <input type="password" class="form-control" data-rule-equalto="#passw" name="passw">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fname">Type</label>
                        <select name="fname" id="fname" class="form-control">
                            <optgroup label="Select Type"></optgroup>
                            <option value="Admin">Admin</option>
                            <option value="Super-Admin">Super-Admin</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input type="tel" minlength="10" maxlength="10" class="form-control" name="mobile" data-rule-required>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Submit" class="btn w-50 badge-pill"
                       style="background: linear-gradient(#ea6060cf,white);opacity: 1">
            </div>
        </form>
    </div>
</div>
{% include 'adminNavbarfoot.html' %}
<script>
    $('#adminRegisteration').validate();
</script>
</body>
</html>