{% load static %}
<footer class="p-5 text-center text-light"
        style="background: black;">
    <div class="align-content-end">Questions? Call 000-800-040-1843</div>
    <div>All the contribution and designing is made by @ R.K.Gautam</div>
</footer>
{#<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>#}
{#<script src="{% static 'js/popper.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.js' %}"></script>#}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lightbox/dist/js/lightbox.js' %}"></script>
<script src="{% static 'jquery-validation-1.19.1/dist/jquery.validate.js' %}"></script>
<script src="{% static 'UI/jquery-ui.js' %}"></script>
<script src="{% static 'myjs/clientjs.js' %}"></script>