{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'datatable/jquery.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome-free-5.11.2-web/css/all.css' %}">
<link rel="stylesheet" href="{% static 'lightbox/dist/css/lightbox.css' %}">
<link rel="stylesheet" href="{% static 'UI/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'mycss/clientcss.css' %}">
<link rel="icon" href="{% static 'media/nficon2016.ico' %}">
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{#<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>#}
{#<script src="{% static 'lightbox/dist/js/lightbox.js' %}"></script>#}
{#<script src="{% static 'jquery-validation-1.19.1/dist/jquery.validate.js' %}"></script>#}
{#<script src="{% static 'UI/jquery-ui.js' %}"></script>#}
{#<script src="{% static 'myjs/clientjs.js' %}"></script>#}
