<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>www.netflix.com</title>
    {% include 'clientHeader.html' %}
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
{% include 'navbarBeforeLogin.html' %}
<div class="w-50 mx-auto text-white" style="margin: 13.5%">
    <div class="display-4 text-danger font-weight-bolder">Sorry, There Something Wrong.!</div>
    <h4>Your payment has been cancelled due to technical error</h4>
</div>
{% include 'clientfooter.html' %}
</body>
</html>