{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: black;">
    <a class="navbar-brand" href="#"><img src="{% static 'media/pandora_2016_logo-removebg-preview.png' %}"
                                          class="img-fluid" style="width: 10rem;height:2rem;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text">
                        <span class="text-white small">UNLIMITED TV SHOWS & MOVIES</span>

                        <button onload="window.location.href='login'" class="btn btn-sm small btn-primary ml-2 pl-4 pr-4 mr-2">JOIN NOW</button>
      <a href="login" class="btn btn-sm btn-light mr-2 small pl-4 pr-4">SIGN IN</a>
    </span>
    </div>
</nav>