<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>www.netflix.com</title>
    {% include 'clientHeader.html' %}
    <style>
        .form-group {
            margin: 15% 0 15% 0;
        }

        input[type='email'], input[type='password'] {
            padding: 16px;
        }

        .error {
            color: red;
        }

        h5 {
            color: white;
        }
    </style>
</head>
<body>
{% if message %}
    <script>
        alert('{{ message }}')
    </script>
{% endif %}
<div class="img-fluid vh-100"
     style=";background: url('{% static "media/IN-en-20200302-popsignuptwoweeks-perspective_alpha_website_small.jpg" %}') no-repeat fixed center center/cover">
    <div style="background: rgba(0,0,0,0.7 )" class="vh-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class="navbar-brand" href="#"><img src="https://cdn.worldvectorlogo.com/logos/netflix-2.svg"
                                                  class="img-fluid" style="width: 11rem;height:3rem;margin-left: 3rem"
                                                  alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
    </span>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <div class="container">
            {% if context %}
                <div class="row text-center p-5 mt-5" style="background: rgb(0,0,0)">
                    {% if context.10 and context.11 and context.12 and context.13 %}
                        <div class="col-sm-3">
                            <a href="browse"><img src="{% static 'media/' %}{{ context.7 }}" width="200" height="200"
                                                  alt="">
                                <h5>{{ context.6 }}</h5></a>
                        </div>
                        <div class="col-sm-3">
                            <a href="browse"><img src="{% static 'media/' %}{{ context.9 }}" width="200" height="200"
                                                  alt="">
                                <h5>{{ context.8 }}</h5></a>
                        </div>
                        <div class="col-sm-3">
                            <a href="browse"><img src="{% static 'media/' %}{{ context.11 }}" width="200" height="200"
                                                  alt="">
                                <h5>{{ context.10 }}</h5></a>
                        </div>
                        <div class="col-sm-3">
                            <a href="browse"><img src="{% static 'media/' %}{{ context.13 }}" width="200" height="200"
                                                  alt="">
                                <h5>{{ context.12 }}</h5></a>
                        </div>
                    {% elif context.6 and context.7 and context.8 and context.9 %}
                        <div class="col-sm-6">
                            <a href="browse"><img src="{% static 'media/' %}{{ context.7 }}" width="200" height="200"
                                                  alt="">
                                <h5>{{ context.6 }}</h5></a>
                        </div>
                        <div class="col-sm-6">
                            <a href="browse"><img src="{% static 'media/' %}{{ context.9 }}" width="200" height="200"
                                                  alt="">
                                <h5>{{ context.8 }}</h5></a>
                        </div>
                    {% else %}
                        <div class="col-sm-12">
                            <a href="browse"><img src="{% static 'media/' %}{{ context.7 }}" width="200" height="200"
                                                  alt="">
                                <h5>{{ context.6 }}</h5></a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div style="opacity: 0.9;margin-bottom: 0px;padding-bottom: 0">{% include 'clientfooter.html' %}</div>
</div>
<script>
    $('#clientlogin').validate();
</script>
</body>
</html>