<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>View Category</title>
    {% include 'adminHeader.html' %}

</head>
<body>
{% include 'adminNavbardashboard.html' %}
<div class="container mx-auto my-4 p-5 text-white"
     style="box-shadow: white 6px 1px 32px;background: rgba(0,0,0,0.5)">
    <div class="display-4 text-center font-weight-bold">Category</div>
    <hr class="bg-light">
    <table class="table table-bordered table-hover myTable" style="background: rgba(255,255,255,0.59)">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>CAT NAME</th>
            <th>DESCRIPTION</th>
            <th>PHOTO</th>
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
        </thead>
        <tbody>
        {% if ar %}
            {% for row in ar %}
                <tr>
                    <td>{{ row.srno }}</td>
                    <td>{{ row.catname }}</td>
                    <td>{{ row.description }}</td>
                    <td><a href="static/media/{{ row.photo }}" data-lightbox="image-1" data-title="{{ row.catname }}"><img src="{% static 'media/' %}{{ row.photo }}" width="100" height="100"></a></td>
                    <td class="text-center"><a onclick="deletecategory('{{ row.catname }}')" style="cursor: pointer"><i
                            class="fa fa-trash text-danger"></i> </a></td>
                    <td class="text-center"><a onclick="editcategorymodel({{ row }})" style="cursor: pointer"><i
                            class="fa fa-edit text-primary"></i></a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" class="text-center text-white font-weight-bolder display-4">Nothing to show!</td>
            </tr>
        {% endif %}

        </tbody>
    </table>
</div>
{% include 'adminNavbarfoot.html' %}
<div class="modal fade" id="myUpdateCategoryModel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="catname">Category Name</label>
                        <input type="text" class="form-control" readonly data-rule-required="true" name="up_catname"
                               id="up_catname">
                    </div>
                    <div class="form-group">
                        <label for="#">Category Decription</label>
                        <textarea class="form-control" name="catDescp" id="catDescp"></textarea>
                    </div>
                    <div class="form-group">
                        <span class="custom-file" style="overflow: hidden">
                            <label for="" id="labelimgname" class="custom-file-label small"></label>
                            <input type="file" name="file" onchange="readURL(this)" id="file" class="custom-file-input"
                                   accept=".jpg,.jpeg,.png">
                        </span>
                        <img src="" id="photo" name="photo" alt="No Image" class="img-fluid w-75 h-75   ">

                        <script>
                            var file = document.getElementById("file");
                            var img = document.getElementById("photo");
                            var labelimgname = document.getElementById("labelimgname");

                            function readURL(input) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    img.src = e.target.result;
                                    labelimgname.innerHTML = input.files[0].name;
                                };
                                reader.readAsDataURL(input.files[0]);
                            }
                        </script>
                    </div>
                    <div id="error"></div>
                    <div class="form-group text-center">
                        <input type="button" value="Submit" onclick="updateCat()" class="btn btn-outline-primary w-50">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>
</body>
</html>
